@charset "UTF-8";
/* CSS Document */
  

     @media (min-width: 1024px ) {



			* {
			 box-sizing: border-box;
			}
			
					  
					  
					  body {
						  margin: 0 auto;
						 
					  }
					  
								 .lattice {
										 border: 1px solid green;
								 }
										 
						                  	 header {
			
											 }
				 
				                                             input[type="text"] {
								                              margin-top: 30px;
															  margin-bottom: 30px;
															  width: 40%;
															  padding: 8px;
														  }
				 
				 
				 
				             								  .photo-container {
					
															  }
					       
					.main-head {
						
					}
					
						      
								
								.pic-nav {
								
								}
							
								
								
						
				  
				
	 }
				  
				 	  
				  
				 
				
			
			 
			
				  
		
				  
				