/* CSS Document */
  

  
	  
  	 .overlay {
	 display: none;
	  background-color: rgba(0,0,0,0.7);
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  position: absolute;
	  
	}
	
	
	.overlay .wrap {
	  display: block;
	  border: 1px solid silver;	
      width: 1290px;	 
	  height: 890px;
	  padding: 14px;
	  margin-left: 100px;
	  margin-top: 112px;
	  
	}
	
	.overlay .photoview {
		display: block;
		 border: 1px solid pink;
		 width: 1200px;
		 height: 690px;
		 padding: 8px;
		 margin-left: 28px;
		 margin-top: 36px;
		 
	 }
	 
	 .overlay .pic {
		 margin-top: 26px;
		 margin-left: 34px;
		width: 1000px; 
				 

	 }
	
	.overlay .captionText {
		
	   display : block;
	   border: 1px solid blue;	
	   width: 620px;
	   margin: 0 auto;
	   margin-top: 18px;
	   padding: 6px 4px 6px 4px;
	}
	
	 .overlay  p {
		 
	  border: 1px solid tomato;
	  color: #fff;
	  font-family : Fanwood Text,  Helvetica, Arial, serif, San-serif;
	  width: 600px;
	  font-size: 1.25rem;
      letter-spacing: 0.1em;
	  margin: 0 auto;
	  word-spacing: 0.2em;
	  color: rgb(224, 226, 227 );
	  
	  
	 }
	 

	.overlay .arrow1,
	
	.overlay .arrow2 {
	   
	    display: inline-block;
		width: 60px;
		height: 60px;
		margin-top: 310px;
		color: rgb(224, 226, 227 );
	    opacity: 0.8;
		
	}
	
	
	.overlay .arrow1:hover {
		
		color: white;
		opacity: 1.0;
	}
	
	.overlay .arrow2:hover {
		
		color: white;
		opacity: 1.0;
	}
	
	.overlay .arrow1 {
	
	  float: left;
		
	}
	
	 .overlay .arrow2  {
		 
		 float: right;
		 
		
		
	 }
	 
	  								
	
	   @media (min-width: 1024px ) {

	  
	  
	  * {
		  
	   box-sizing: border-box;
	   
	  }

		  
		  
	  body {
		  
	  padding-top: 110px;
		 
	  }
		  
				
	.main-head {
		
	 display: flex;
	 position: fixed;
	 background-color: #fff;
	 width: 100%;
	 top: 0;
	 justify-content: center;
	 align-items: center;
	   
  	}
						
	input[type="text"] {
	  margin-top: 35px;
	  margin-bottom: 30px;
	  width: 40%;
	  padding: 8px;
	}
			
   .photo-container {
	   display: block;
	  border: 1px solid tomato;
	 margin: 0 auto;
	  width: 1100px;
	  padding-left: 50px;
	  padding-top: 40px;
   }
 
				
			   
   .pic-nav {
	  display: flex;
	  flex-wrap: wrap;
	  width: 980px;
	  justify-content: space-between;
	  
   }			
				
		
	
	li  {
	  flex-basis: 220px;
	  margin-bottom: 40px;	
	  
	 
	}
	
	
	
 }
 
 
 
	.clearfix::before {
	display: table;
	content: "";
	clear: both;
		
		
	}
				 	  
				  
				 
				
			
			 
			
				  
		
				  
				