@charset "UTF-8";
/* CSS Document */
  

     @media (min-width: 1024px ) {



			* {
			 box-sizing: border-box;
			}
			
					  
					  
					  body {
						
						 
					  }
					  
								 .lattice {
										 border: 1px solid green;
								 }
										 	
											.main-head {
						                       display: flex;
											   justify-content: center;
											   align-items: center;
					                          }
						                                      input[type="text"] {
																margin-top: 30px;
																margin-bottom: 30px;
																width: 40%;
																padding: 8px;
													          }
														      
								                          .photo-container {
					                                      border: 1px solid tomato;
														  
						       }
				 
				     			
							   
					 .pic-nav {
						display: flex;
						flex-wrap: wrap;
					    width: 980px;
					    justify-content: space-between;
						margin: 0 auto;
					}			
								
						li {
						  flex-basis: 200px;
						  margin-bottom: 40px;	
						 
						}
							
				  
				
	 }
				  
				 	  
				  
				 
				
			
			 
			
				  
		
				  
				